<!-- Validation failure messages -->
<% if @neighbourhood.errors.any? %>
  <% @neighbourhood.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Neighbourhood</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_neighbourhood" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for neighbourhoods_list -->
      <div class="form-group">
        <label for="neighbourhoods_list" class="control-label">
          Neighbourhoods list
        </label>

        <input type="text" id="neighbourhoods_list" name="neighbourhoods_list" placeholder="Neighbourhoods list" class="form-control" value="<%= @neighbourhood.neighbourhoods_list %>">
      </div>

      <!-- Label and input for city_id -->
      <div class="form-group">
        <label for="city_id" class="control-label">
          City
        </label>

        <%= select_tag(:city_id, options_from_collection_for_select(City.all, :id, :city_name, @neighbourhood.city_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Neighbourhood
      </button>
      or
      <a href="/neighbourhoods">Cancel</a>
    </form>
  </div>
</div>
